//variables 
$primary-color: #F9F7F7;
$secondary-color: #DBE2EF;
$third-color: #3F72AF;
$dark-color: #112D4E;
//========================

body {
  background-color: $primary-color;
  box-sizing: border-box;
  margin: 0;
}

/** card **/
  .listgroup{
  position: relative;
  .list-content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-color;
  font-size: large;
  font-weight: bold;
  }
  .price{
    color: $third-color;
    display: flex;
    justify-content: space-between;
  }
  .title{
    color: $dark-color;
    overflow: hidden;
    text-decoration: none;
  }
  Button{
    background-color: $dark-color;
    color: $primary-color;
    border-color: transparent;
  }
}


/* navbar */
.navbar{
background-color: $dark-color;
justify-content: space-between;
align-items: center;
box-shadow: 0 0 10px 5px #aab2c2;
z-index: 1;
}
.nav-container{
font-size: 1.5rem;
display: flex;
justify-content: space-between;

}

.search-form{
  display: flex;
  justify-content: center;
  width: 50%;
  Button{
    background-color: $primary-color;
    color: $dark-color;
    border-color: transparent;
    &:hover{
      background-color: $third-color;
      border-color: transparent;
    }
  }
}

/* checkout window */
.table-cart{
.cart-content {
  display: flex;
  justify-content: center;
  color:$third-color;
}
}
.btn-total{
  display: flex;
  justify-content: center;
  align-items: center;

  Button{
    width:60%;
    height: 3rem;
    margin-left: 2rem;
    background-color: $third-color;
    border:$dark-color;
    border-radius: 2rem;
    font-weight: bold;
    color: $primary-color;
    &:hover{
      background-color: $dark-color;
      border:  $dark-color;
    }
  }
}
/*****************/


